@font-face {
    font-family: 'CircularStd-Bold';
    src: url('CircularStd-Bold.eot');
    src: url('CircularStd-Bold.eot') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype'),
}