.banner {
    position: relative;
    padding: 50px 30px;
    background-color: $color_1BAABC;
    border-radius: 16px;
    @include box-shadow(0 20px 36px 0 rgba(97, 188, 200, 0.37));
    margin-bottom: 50px;

    @media (max-width: 767px) {
        padding-bottom: 0;
        padding-top: 0;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    &__left {
        // width: 130px;
        // left: 70px;
        width: 6.771vw;
        left: 3.646vw;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));

        @media (max-width: 1024px) {
            width: 100%;
            max-width: 15%;
        }

        @media (max-width: 767px) {
            position: static;
            @include transform(none);
            max-width: 40%;
            margin: 0 auto;
            padding-top: 30px;
        }
    }

    &__right {
        // max-width: 260px;
        // right: 30px;
        width: 13.542vw;
        right: 1.563vw;
        position: absolute;
        bottom: 0;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
            max-width: 50%;
            margin: 20px auto 2px;
        }
    }

    &__content {
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
        color: $color_fff;
        text-align: center;
    }

    &__heading {
        @include Circular-Bold;
        // font-size: 58px;
        // margin-bottom: 22px;
        font-size: 3.021vw;
        margin-bottom: 1.146vw;

        @media (max-width: 767px) {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }

    &__des {
        // font-size: 18px;
        // margin-bottom: 22px;
        font-size: 0.938vw;
        margin-bottom: 1.146vw;

        @media (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    .btn {
        @media (max-width: 767px) {
            min-width: 30%;
        }
    }
}