.block_assessment-3 {
    // @media (max-width: 767px) {
    //     @include flex-direction(column);
    // }
    margin: 0 auto;
    max-width: 1037px;
    margin-bottom: 110px;

    @media (max-width: 767px) {
        margin-bottom: 70px;
    }

    &__wrap {
        @include flexbox;
        position: relative;
        margin-bottom: 45px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        @media (max-width: 480px) {
            @include flex-direction(column);
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }
    }

    &__item {
        flex: 1;
        position: relative;
        text-align: center;
        padding: 93px 5px 0 5px;

        @media (max-width: 767px) {
            padding-top: 85px;
        }

        @media (max-width: 480px) {
            padding: 0;
            padding-left: 75px;
            padding-bottom: 30px;
        }

        &:first-child {
            &::after {
                width: 50%;
                right: 0;

                @media (max-width: 480px) {
                    height: 67%;
                    top: 30%;
                }
            }
        }

        &:last-child {
            &::after {
                width: 50%;
                left: 0;

                @media (max-width: 480px) {
                    height: 30%;
                    top: 2%;
                }
            }
        }

        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            right: 0;
            top: 0;
            background-repeat: no-repeat;
            background-image: url(../assets/images/_block_assessment-3-img-line-1.png);

            @media (max-width: 480px) {
                left: 0;
                background-image: none;
                border-left: 2px dashed #a4adbe;
                height: 100%;
            }
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            left: 50%;
            @include transform(translateX(-50%));
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../assets/images/_block_assessment-3-img-line-2.png);
            height: 65px;
            width: 13px;

            @media (max-width: 480px) {
                @include transform(rotate(-90deg));
                left: 30px;
            }
        }

        .img {
            max-width: 46px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 480px) {
                margin-bottom: 5px;
            }
        }

        .title {
            color: $color_173A65;
            font-size: 20px;
            // font-weight: bold;
            @include Circular-Bold;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
    }

    &__des {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #0E1A28;
        font-size: 18px;
        line-height: 32px;
        max-width: 650px;
    }

}