.block_assessment-2 {
    margin: 0 auto;
    margin-bottom: 5.729vw;
    // padding: 0 5.208vw;
    width: 46.875vw;
    // padding: 0 100px;
    // max-width: 905px;
    // margin-bottom: 110px;
    @media (max-width: 767px) {
        width: 100%;
    }
    .img_master {
        margin-left: auto;
        margin-right: auto;
        width: 18.75vw;
        margin-bottom: 4.948vw;
        padding-left: 3.125vw;
        // max-width: 360px;
        // margin-bottom: 95px;
        // padding-left: 60px;

        @media (max-width: 767px) {
            width: 45vw;
        }

    }

    &__wrap {
        @include flexbox;
    }

    &__item {
        position: relative;
        width: 15.677vw;
        @media (max-width: 767px) {
            flex: 1 !important;
            padding: 0 10px;
        }

        &::before {
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            background-size: 100%;
        }

        &:nth-child(1) {
            &::before {
                background-image: url(../assets/images/_block_assessment-2-arrow-left.png);
                width: 9.635vw;
                height: 10.677vw;
                top: -10.677vw;
                left: 4.427vw;
                // width: 185px;
                // height: 205px;
                // top: -205px;
                // left: 85px;
                @media (max-width: 767px) {
                    left: 50%;
                    @include transform(translateX(-50%));
                }
            }
        }

        &:nth-child(2) {
            flex: 1;

            &::before {
                background-image: url(../assets/images/_block_assessment-2-arrow-center.png);
                left: 50%;
                @include transform(translateX(-50%));
                width: 0.833vw;
                height: 3.542vw;
                top: -3.542vw;
                // width: 16px;
                // height: 68px;
                // top: -68px;
               
            }
        }

        &:nth-child(3) {
            &::before {
                background-image: url(../assets/images/_block_assessment-2-arrow-right.png);
                width: 9.635vw;
                height: 10.677vw;
                top: -10.677vw;
                right: 4.427vw;
                // width: 185px;
                // height: 205px;
                // top: -205px;
                // right: 85px;
                @media (max-width: 767px) {
                    right: auto;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
            }
        }

        .img {
            text-align: center;
            margin: 0 auto;
            width: 12.24vw;
            margin-bottom: 0.833vw;
            // max-width: 235px;
            // margin-bottom: 16px;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .text {
            font-family: $SVN-Gilroy-Medium;
            text-align: center;
            color: $color_173A65;
            font-size: 16px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 350px) {
                font-size: 12px;
            }
            span {
                padding: 0 3px;
            }
        }
    }
}
