.block_awareness {
    margin-bottom: 120px;
    margin-bottom: 6.25vw;

    .img {
        &__1 {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        &__2 {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        &__3 {
            max-width: 70%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    &--content {
        @media (max-width: 480px) {
            @include flexbox;
        }
    }

    &--img__master {
        // width: 280px;
        width: 14.583vw;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 480px) {
            @include flexbox;
            @include align-items(center);
            width: auto;
            margin: 0;
            margin-right: 45px;
        }
    }

    &--title {
        color: $color_173A65;
        // font-size: 36px;
        font-size: 1.875vw;
        // font-weight: bold;
        @include Circular-Bold;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &--text {
        // padding: 0 15px 25px 15px;
        padding: 0 0.781vw 1.302vw 0.781vw;

        @media (max-width: 1024px) {
            padding: 0 5px 15px 5px;
        }
    }

    &--des {
        color: #0e1a28;
        // font-size: 18px;
        font-size: 0.938vw;

        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }

    &--items {
        // padding-top: 180px;
        padding-top: 9.375vw;
        @include flexbox;

        @media (max-width: 480px) {
            @include flex-wrap(wrap);
            max-width: 55%;
        }
    }

    &--item {
        // width: calc((100% / 3) - 20px);
        // margin: 0 20px;
        width: calc((100% / 3) - 1.042vw);
        margin: 0 1.042vw;
        position: relative;
        @include flexbox;
        @include flex-direction(column);

        @media (max-width: 480px) {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }

        &::before {
            position: absolute;
            content: "";
            background-size: 100%;
            background-repeat: no-repeat;
        }

        &:nth-child(1) {
            margin-left: 0;

            &::before {
                width: 3.438vw;
                height: 12.5vw;
                top: -13.542vw;
                // width: 66px;
                // height: 240px;
                // top: -260px;
                right: 0;
                background-image: url(../assets/images/block-wareness-arrow-left.png);

                @media (max-width: 480px) {
                    background-image: url(../assets/images/block-wareness-arrow-right.png);
                    @include transform(rotate(-90deg));
                    right: auto;
                    top: auto;
                    bottom: 0;
                    // left: -100px;
                    // width: 50px;
                    // height: 130px;
                    bottom: -11vw;
                    left: -19.771vw;
                    width: 8.604vw;
                    height: 25.771vw;
                }
            }
        }

        &:nth-child(2) {
            &::before {
                width: 0.677vw;
                height: 7.031vw;
                top: -8.073vw;
                // width: 13px;
                // height: 135px;
                // top: -155px;
                left: 50%;
                @include transform(translateX(-50%));
                background-image: url(../assets/images/block-wareness-arrow-center.png);

                @media (max-width: 480px) {
                    @include transform(rotate(-90deg) translateY(-50%));
                    top: 25vw;
                    left: 0;
                    height: 9.344vw;
                    width: 1.521vw;
                    // height: 45px;
                    // width: 10px;
                    // height: 45px;
                    // width: 10px;
                }
            }
        }

        &:nth-child(3) {
            margin-right: 0;

            &::before {
                width: 3.438vw;
                height: 12.5vw;
                top: -13.542vw;
                // width: 66px;
                // height: 240px;
                // top: -260px;
                left: 0;
                background-image: url(../assets/images/block-wareness-arrow-right.png);

                @media (max-width: 480px) {
                    background-image: url(../assets/images/block-wareness-arrow-left.png);
                    @include transform(rotate(-90deg));
                    bottom: 0;
                    width: 8.604vw;
                    height: 25.771vw;
                    bottom: -11vw;
                    left: -19.771vw;
                    // width: 50px;
                    // height: 130px;
                    // left: -100px;
                }
            }
        }

        &:not(:last-child) {
            &::after {
                position: absolute;
                content: "";
                width: 3.385vw;
                height: 0.677vw;
                right: -3.385vw;
                // width: 65px;
                // height: 13px;
                // right: -65px;
                top: 50%;
                @include transform(translateY(-50%));
                z-index: 1;
                background-size: 100%;
                background-repeat: no-repeat;
                background-image: url(../assets/images/block-wareness-arrow-next.png);

                @media (max-width: 480px) {
                    width: 7.385vw;
                    height: 4.677vw;
                    right: auto;
                    left: 50%;
                    top: auto;
                    bottom: -7vw;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }

    &--item-wrap {
        background-color: #f2fafb;
        // min-height: 495px;
        position: relative;
        text-align: center;
        height: 100%;

        border-radius: 1.25vw;
        margin-bottom: 0.521vw;
        padding-top: 3.385vw;
        // border-radius: 24px;
        // margin-bottom: 10px;
        // padding-top: 65px;

        &:last-child {
            margin-right: 0;
        }

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #19a9bc;
            z-index: -1;

            border-radius: 1.25vw;
            left: -0.521vw;
            bottom: -0.521vw;
            // border-radius: 24px;
            // left: -10px;
            // bottom: -10px;
        }
    }

    &--img {
        margin-bottom: 2.344vw;
        min-height: 9.896vw;
        // margin-bottom: 45px;
        // min-height: 190px;
        @include flexbox;
        @include align-items(center);
    }

    &--foot {
        text-align: center;
        color: $color_173A65;
        margin-top: 16px;
        margin-top: 0.833vw;

        .bold {
            @include Circular-Medium;
        }
    }
}