.block_assessment-1 {
    @include flexbox;
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: 65px;

    @media (max-width: 767px) {
        @include flex-direction(column);
    }

    &__item {
        text-align: center;


        &:nth-child(2) {
            flex: 1;
            position: relative;

            @media (max-width: 767px) {
                padding: 60px 0;
            }

            &::after,
            &::before {
                position: absolute;
                content: "";
                width: 37px;
                height: 13px;
                top: 30%;
                @include transform(translateY(-50%));
                background-repeat: no-repeat;
                background-size: 100%;
                background-image: url(../assets/images/block-wareness-arrow-next.png);

                @media (max-width: 767px) {
                    @include transform(translateX(-50%) rotate(90deg));
                }
            }

            &::before {
                left: 15%;

                @media (max-width: 767px) {
                    top: 23px;
                    left: 50%;
                }
            }

            &::after {
                right: 15%;

                @media (max-width: 767px) {
                    bottom: 27px;
                    right: auto;
                    left: 50%;
                    top: auto;
                }
            }
        }

        .img {
            width: 97px;
            height: 97px;
            background-image: url(../assets/images/_block_assessment-1-img-bg.png);
            background-size: 100%;
            background-repeat: no-repeat;
            @include flex_center;
            margin: 0 auto;

            &:hover {
                img {
                    @include transform(scale(0.9));
                }
            }

            img {
                @include transition(all 0.2s ease);
                max-width: 50px;

                @media (max-width: 767px) {
                    max-width: 40px;
                }
            }
        }

        .name {
            color: $color_173A65;
            font-size: 24px;
            font-family: $SVN-Gilroy-Bold;
            margin-top: 15px;
            line-height: normal;

            @media (max-width: 767px) {
                font-size: 22px;
                margin-top: 10px;
            }
        }

        .des {
            color: #3b3b3b;
            font-size: 16px;
            font-family: $SVN-Gilroy-Medium;
            margin-top: 5px;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
}