.contact-us {
    &--text_content {
        font-size: 18px;
        margin-bottom: 50px;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    .page--title_content {
        margin-bottom: 15px;
        padding-top: 50px;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    &--list {
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &--card {
        max-width: 300px;
        border: 1px solid #F7F7F7;
        border-radius: 6px;
        margin: 30px;
        padding: 15px 25px;

        @media (max-width: 1024px) {
            margin: 15px;
        }

        @media (max-width: 767px) {
            margin: 10px 0;
            padding: 10px;
            max-width: 100%;
            width: 100%;
        }

        &:hover {
            @include box-shadow(2px 4px 10px 0 rgba(0, 0, 0, 0.05));
        }

        .title {
            // font-family: $CircularStd-Medium;
            font-family: $CircularStd-Bold;
            text-align: center;
            color: #1BAABC;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .text_content {
            font-family: $SVN-Gilroy-SemiBold;
            margin-bottom: 15px;
            line-height: normal;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }

        .text-bold {
            font-weight: bold;
            font-family: $SVN-Gilroy-Bold;
        }

        .number-light {
            font-family: $SVN-Gilroy-Light;
        }
    }

    &--form {
        max-width: 695px;
        margin: 0 auto;

        @media (max-width: 767px) {
            padding: 0;
        }

        textarea {
            resize: none;
        }

        .btn-send {
            text-align: right;
            margin-bottom: 60px;

            @media (max-width: 480px) {
                text-align: center;
            }

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
    }
}

.contact_by {
    .phone {
        color: #343638;
    }
}