.home__list-des {
    list-style: none;
    padding-left: 0;

    li {
        position: relative;

        padding-left: 0.938vw;
        margin-bottom: 0.521vw;
        font-size: 0.938vw;

        @media (max-width: 767px) {
            padding-left: 18px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        &::before {
            position: absolute;
            content: "";
            border-radius: 50%;
            background-color: #0e1a28;
            left: 0;
            // top: 7px;
            // width: 6px;
            // height: 6px;
            top: 0.365vw;
            width: 0.313vw;
            height: 0.313vw;

            @media (max-width: 767px) {
                top: 7px;
                width: 6px;
                height: 6px;
            }
        }
    }
}

.home-slider {
    position: relative;
    // padding-top: 90px;
    // border-left: 50px solid $color_1BAABC_light;
    // border-right: 50px solid $color_1BAABC_light;
    padding-top: 4.688vw;
    border-left: 2.604vw solid $color_1BAABC_light;
    border-right: 2.604vw solid $color_1BAABC_light;

    @media (max-width: 767px) {
        border-width: 20px;
    }

    &__wrap {
        position: relative;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;

        &.slick-initialized {
            visibility: visible;
            opacity: 1;
        }

    }

    &__footer {
        @include flexbox;
        @include justify-content(flex-end);
        @include align-items(center);
        color: #5b5b5b;
        font-size: 0.729vw;
        height: 2.604vw;
        // font-size: 14px;
        // height: 50px;
        background-color: $color_1BAABC_light;

        @media (max-width: 1024px) {
            font-size: 12px;
            height: 30px;
        }

        .text {
            display: inline-flex;
            @include align-items(center);
            @include justify-content(flex-end);
            flex: 1;
        }



        img {
            width: 2.865vw;
            margin-left: 0.26vw;

            // max-width: 55px;
            // margin-left: 5px;


            @media (max-width: 767px) {
                max-width: 30px;
                margin-left: 5px;
                width: 100%;
            }
        }
    }

    .slick-dots {
        position: absolute;
        // right: -30px;
        right: -1.563vw;
        bottom: auto;
        display: flex;
        flex-direction: column;
        width: auto;
        top: 50%;
        transform: translateY(-50%);

        &::before {
            position: absolute;
            content: "";
            height: 140px;
            width: 140px;
            height: 7.292vw;
            width: 7.292vw;
            border-radius: 50%;
            right: 0;
            top: 50%;
            @include transform(translateY(-50%) translateX(40%));
            background-color: $color_1BAABC_light;

            @media (max-width: 767px) {
                height: 50px;
                width: 50px;
            }
        }

        li {
            // margin: 4px 0;
            margin: 0.208vw 0;
            width: auto;
            height: auto;

            @media (max-width: 767px) {
                margin: 2px 0;
            }

            button {
                // width: 8px;
                // height: 8px;
                width: 0.417vw;
                height: 0.417vw;
                background-color: #b8e5e4;
                border-radius: 50%;
                padding: 0;
                @include transition(all 0.3s ease);

                @media (max-width: 767px) {
                    width: 5px;
                    height: 5px;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: $color_163B65;
                }
            }
        }
    }

    .slick-track {
        @include flexbox;
        @include align-items(flex-end);
    }

    .img {
        img {
            // max-width: 1000px;
            width: 52.083vw;
            margin: 0 auto;
        }

        &-1 {}

        &-2 {}

        &-3 {
            img {
                width: 75%;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}

.home-heading {
    color: $color_163B65;
    font-size: 3.021vw;
    line-height: 3.021vw;
    font-family: $CircularStd-Bold;
    // font-weight: 700;

    @media (max-width: 767px) {
        font-size: 35px;
        line-height: 35px;
    }
}

.home__1 {
    @include flexbox;
    @include justify-content(center);
    // margin-top: 60px;
    margin-top: 3.125vw;

    @media (max-width: 767px) {
        @include flex-wrap(wrap);
        margin-top: 30px;
    }

    .home-heading {
        // margin-bottom: 30px;
        margin-bottom: 1.563vw;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &--img {
        // width: 600px;
        width: 31.25vw;

        @media (max-width: 1024px) {
            width: auto;
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 767px) {
            max-width: 70%;
        }
    }

    &--content {
        // margin-left: 70px;
        // max-width: 485px;
        margin-left: 3.646vw;
        width: 25.26vw;

        @media (max-width: 1024px) {
            width: auto;
        }
    }

    &--list-icon {
        padding: 0;
        list-style: none;

        li {
            list-style: none;
            padding: 0;
        }

        .item {
            @include flexbox;
            @include align-items(center);
            // margin-bottom: 20px;
            margin-bottom: 1.5vw;

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        .icon {
            width: 2.448vw;
            margin-right: 1.563vw;

            @media (max-width: 767px) {
                width: auto;
                max-width: 35px;
                margin-right: 20px;
            }
        }

        .text {
            // font-size: 24px;
            font-size: 1.25vw;
            color: #1d293f;
            @include Circular-Medium;

            @media (max-width: 1024px) {
                font-size: 20px;
            }
        }
    }
}

.home__2 {
    // margin-top: 250px;
    margin-top: 13.021vw;
    position: relative;

    // padding-bottom: 375px;
    padding-bottom: 19.531vw;

    @media (max-width: 1440px) {
        padding-bottom: 0;
    }

    .home-heading {
        // margin-bottom: 30px;
        margin-bottom: 1.563vw;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    .img-1 {
        // position: absolute;
        // top: 0;
        width: 34.635vw;
        // left: 25.677vw;
        // max-width: 665px;
        // left: 493px;

        @media (max-width: 767px) {
            position: static;
            width: auto;
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &--content {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        position: relative;
    }

    &--top {
        @include flexbox;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 767px) {
            @include flex-wrap(wrap);
        }
    }

    &--des {
        // max-width: 493px;
        width: 25.677vw;

        @media (max-width: 1024px) {
            width: 50%;
        }

        @media (max-width: 767px) {
            width: 100%;
            order: 2;
        }
    }

    &--step {
        position: absolute;
        top: 75%;

        @media (max-width: 1440px) {
            position: relative;
            margin-top: 0;
        }

        @media (max-width: 767px) {
            width: 100%;
            max-width: 280px;
            margin-right: auto;
            margin-left: auto;
        }

        .arrow {
            position: absolute;

        }

        .arrow-1 {
            width: 11.458vw;
            top: 10.677vw;
            left: 3.125vw;
            // max-width: 220px;
            // top: 205px;
            // left: 60px;

            @media (max-width: 767px) {
                max-width: 50px;
                top: 90px;
                left: 3px;
                width: auto;
                transform: rotate(35deg);
            }
        }

        .arrow-2 {
            width: 12.24vw;
            left: 41.667vw;
            bottom: 7.031vw;

            // max-width: 235px;
            // left: 800px;
            // bottom: 135px;
            @media (max-width: 767px) {
                max-width: 60px;
                top: 100px;
                left: auto;
                width: auto;
                right: -21px;
                transform: rotate(28deg);
            }
        }
    }

    &--item {
        @include flexbox;
        @include box-shadow(0 20px 36px #1baabc59);
        background-color: $color_1BAABC;
        border-radius: 0.833vw;
        padding: 2.083vw 2.604vw;
        width: 22.917vw;
        margin-bottom: 2.083vw;
        // border-radius: 16px;
        // padding: 40px 50px;
        // max-width: 440px;
        // margin-bottom: 40px;

        @media (max-width: 767px) {
            border-radius: 16px;
            padding: 10px 15px;
            max-width: 70%;
            margin-bottom: 20px;
            width: 100%;
        }

        &.item-2 {
            // margin-left: 340px;
            margin-left: 17.708vw;

            @media (max-width: 767px) {
                margin-left: 50px;
            }
        }

        &.item-3 {
            // margin-left: 640px;
            margin-left: 33.333vw;

            @media (max-width: 767px) {
                margin-left: 100px;
            }
        }

        .icon {
            width: 4.167vw;
            margin-right: 2.083vw;

            // max-width: 80px;
            // margin-right: 40px;
            @media (max-width: 767px) {
                max-width: 35px;
                margin-right: 20px;
                width: 100%;
            }
        }

        .text {
            color: $color_fff;

            p {
                margin: 0;
            }
        }

        .title {
            @include Circular-Bold;
            // @include Circular-Medium;
            // font-size: 24px;
            font-size: 1.25vw;

            @media (max-width: 1024px) {
                font-size: 16px;
            }
        }

        .des {
            @include Circular-Book;
            // font-size: 18px;
            font-size: 0.938vw;

            @media (max-width: 1024px) {
                font-size: 12px;
            }
        }
    }
}

.home__3 {
    // margin-top: 150px;
    margin-top: 7.813vw;

    @media (max-width: 767px) {
        margin-top: 50px;
    }

    &--content {
        text-align: center;
    }

    &--des {
        // font-size: 18px;
        // margin-top: 30px;
        // max-width: 510px;
        font-size: 0.938vw;
        margin-top: 1.563vw;
        width: 26.563vw;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1024px) {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 20px;
            max-width: 510px;
            width: auto;
        }
    }

    &--img {
        // max-width: 535px;
        // margin-top: 30px;
        width: 27.865vw;
        margin-top: 1.563vw;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1024px) {
            max-width: 500px;
            width: auto;
        }
    }

    &--flow {
        @include flexbox;
        @include justify-content(center);
        margin-top: 1.563vw;
        margin-bottom: 2.344vw;
        padding: 2.604vw 0;

        // margin-top: 30px;
        // margin-bottom: 45px;
        // padding: 50px 0;
        @media (max-width: 1024px) {
            padding: 30px 0;
        }

        @media (max-width: 480px) {
            @include flex-wrap(wrap);
        }
    }

    &--flow_item {
        position: relative;
        background-color: #f2fafb;
        border-radius: 50%;
        margin: 0 0.781vw;
        border: 1.198vw #f2fafb solid;

        @media (max-width: 480px) {
            flex: 1;
            border-width: 7px;
        }

        &:hover,
        &.active {
            .text {
                color: $color_1BAABC;
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            &::before {
                position: absolute;
                content: "";
                background-image: url(../assets/images/home-3-arrow-top.png);
                background-size: 100%;
                background-repeat: no-repeat;
                // width: 130px;
                // height: 50px;
                // left: 165px;
                // top: -80px;
                width: 6.771vw;
                height: 2.604vw;
                left: 8.594vw;
                top: -4.167vw;

                @media (max-width: 1024px) {
                    left: 13.594vw;
                }

                @media (max-width: 767px) {
                    left: 18.594vw;
                }

                @media (max-width: 480px) {
                    width: 10.771vw;
                    height: 6.604vw;
                    left: 22.594vw;
                }
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            &::after {
                position: absolute;
                content: "";
                background-image: url(../assets/images/home-3-arrow-bottom.png);
                background-size: 100%;
                width: 7.552vw;
                height: 3.125vw;
                left: 8.594vw;
                bottom: -2.604vw;

                // width: 145px;
                // height: 60px;
                // left: 165px;
                // bottom: -50px;
                @media (max-width: 1024px) {
                    left: 13.594vw;
                }

                @media (max-width: 767px) {
                    left: 18.594vw;
                }

                @media (max-width: 480px) {
                    width: 9.552vw;
                    height: 6.125vw;
                    left: 22.594vw;
                }
            }
        }

        .text {
            width: 10vw;
            border: 0.521vw solid $color_1BAABC;
            // width: 192px;
            // height: 192px;
            // border: 10px solid $color_1BAABC;

            border-radius: 50%;
            color: $color_173A65;
            @include flex_center;
            background-color: $color_fff;
            @include transition(all 0.2s ease);
            position: relative;
            // font-weight: bold;
            @include Circular-Bold;

            &::before {
                content: "";
                padding-top: 100%;
                display: block;
            }

            @media (max-width: 1024px) {
                width: 15vw;
            }

            @media (max-width: 767px) {
                width: 20vw;
                border-width: 4px;
            }

            @media (max-width: 480px) {
                width: 100%;
                font-size: 12px;
            }
        }
    }
}