.page {
    &--title {
        @include flexbox;
        @include justify-content(center);
        padding: 75px 0;

        @media (max-width: 1024px) {
            padding: 30px 0;
        }

        @media (max-width: 767px) {
            padding: 50px 0 30px 0;
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &--title_content {
        text-align: center;
        font-size: 58px;
        // font-weight: bold;
        @include Circular-Bold;
        margin-bottom: 30px;
        line-height: normal;
        padding-top: 25px;
        position: relative;
        color: #173A65;
        line-height: normal;
        padding-top: 25px;
        position: relative;

        @media (max-width: 767px) {
            font-size: 38px;
            margin-bottom: 20px;
        }

        &::before {
            content: '';
            @include transform(translatex(-50%));
            left: 50%;
            top: 0;
            width: 65px;
            height: 2px;
            background-color: #173A65;
            position: absolute;

        }

        &.no-line {
            &::before {
                display: none;
            }
        }
    }

    &--text_content {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 32px;

        @media (max-width: 767px) {
            padding: 0;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: normal;
        }
    }

    &--button {
        text-align: center;
        margin-bottom: 10px;

        @media (max-width: 767px) {
            margin-bottom: 0;
        }

        .btn {
            margin-bottom: 30px;

            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        .btn-1BAABC {
            margin-right: 40px;

            @media (max-width: 767px) {
                margin-right: 20px;
            }
        }
    }

    &--feature {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        margin-bottom: 60px;
        padding: 0 55px;
        margin-top: 20px;

        @media (max-width: 1024px) {
            padding: unset;
        }
    }

    &--node_feature {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(flex-start);
        text-align: center;
        padding: 0 30px;
        margin-bottom: 50px;
        width: 25%;
        text-align: center;
        padding: 0 15px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(25% - 40px);


        @media (max-width: 1199px) {
            width: 30%;
        }


        @media (max-width: 1024px) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
        }

        @media (max-width: 480px) {
            width: 50%;
        }

        .img_feature {
            width: 100%;
            max-width: 120px;
            margin: 0 auto;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }

            .img {
                width: 100px;
                margin-bottom: 15px;

                @media (max-width: 767px) {
                    width: 90px;
                    margin-bottom: 0;
                }

                max-width: 100px;
            }
        }

        .name_feature {
            color: #1D293F;
            font-size: 24px;
            font-family: $CircularStd-Medium;

            // height: 70px;
            @media (max-width: 1024px) {
                height: unset;
            }

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }

    &--map_image {
        // padding: 0 10%;
        margin-bottom: 60px;
        position: relative;
        min-height: 300px;

        @media (max-width: 767px) {
            min-height: 150px;
        }

        .play-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease;
            max-width: 110px;
            cursor: pointer;

            @media (max-width: 767px) {
                max-width: 60px;
            }

            &:hover {
                max-width: 105px;
            }
        }

        .clip_intro {
            @media (max-width: 767px) {
                height: 350px;
            }
        }

        @media (max-width: 1024px) {
            padding: unset;
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}

.security_awareness {
    .name_feature {
        font-size: 23px;
        font-size: 24px;
        margin-bottom: 10px;
        max-width: 210px;
        line-height: normal;


        @media (max-width: 1024px) {
            margin-bottom: 0;
        }

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }

    .page--node_feature {
        .img_feature {
            margin-bottom: 15px;

            @media (max-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

    .page--feature {
        padding: 0 3%;
        padding: 0 4%;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            padding: 0;
        }
    }

    .page--title_content_img {
        text-align: center;
    }

    .page--text_content {
        max-width: 840px;
    }
}

.security-assessment {
    .page--title_content_img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 767px) {
            max-width: 60%;
        }
    }

    .page--text_content {
        max-width: 730px;
    }

    .page--title_content {
        color: $color_173A65;

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
}