.x-act {
    &--title {
        color: $color_173A65;
        font-size: 58px;
        margin-bottom: 70px;
        @include Circular-Bold;

        @media(max-width:767px) {
            text-align: center;
            font-size: 40px;
            margin-bottom: 30px;
        }
    }

    &--content {
        padding-right: 30%;
        font-size: 18px;

        &.right {
            padding-right: 10%;
        }

        @media (max-width: 1024px) {
            padding: 0;
        }

        @media (max-width: 767px) {
            text-align: center;
        }

    }

    &--img_left {
        height: 100px;
        position: relative;
        margin-bottom: 25px;
        width: 100px;

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }


        img {
            @include transform(translateY(-50%));
            width: 100px;
            top: 50%;
            position: absolute;

            @media (max-width: 767px) {
                @include transform(translate(-50%, -50%));
                left: 50%;

            }
        }
    }

    &--img_company {
        @include flexbox;

        .x-act--img_left {
            width: 150px;

            img {
                width: 100%;
            }
        }

        @media (max-width: 767px) {
            @include justify-content(center);
        }
    }

    &--text_title {
        // font-weight: bold;
        @include Circular-Black;

    }

    .page--title_content {
        padding: 50px 0;
        margin-bottom: 0;
        margin-top: 50px;


        @media (max-width: 767px) {
            text-align: center;
            margin-top: 20px;
        }
    }

}

.x-act-top {
    max-width: 85%;
    margin: 0 auto;
}

.x-act-center {
    margin-bottom: 80px;

    &__left {
        width: 28.385vw;
        margin-right: 1.042vw;
        padding-left: 3.125vw;
        // margin-right: 20px;
        // padding-left: 60px;
        // max-width: 545px;
        // margin-right: 40px;
        position: relative;

        @media(max-width:992px) {
            order: 2;
            width: 100%;
            max-width: 320px;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            left: 0;
            background-color: #19a9bc;
            top: 8vw;
            height: 0.260vw;
            width: 4.948vw;

            // height: 5px;
            // width: 95px;
            @media(max-width:425px) {
                height: 3px
            }
        }

        &::after {
            width: 0.260vw;
            top: 8vw;
            left: 0;
            height: 100%;
            background-color: #19a9bc;

            @media(max-width:425px) {
                width: 3px
            }
        }
    }

    &__right {
        width: 100%;
        flex: 1;
        font-size: 18px;

        // max-width: 560px;
        @media(max-width:992px) {
            padding-left: 0;
        }

    }

    &__top {
        @include flexbox;
        margin-bottom: 2.604vw;

        // margin-bottom: 50px;
        @media(max-width:992px) {
            @include flex-direction(column)
        }

    }

    &__bottom {
        position: relative;
        text-align: right;

        &-img {
            text-align: right;
            // width: 43.49vw;
            // margin-left: auto;
            position: relative;
            padding-left: 17.708vw;

            &::before {
                position: absolute;
                content: "";
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-image: url(../assets/images/xact-arrow.png);
                left: calc(17.708vw - 0.521vw);
                width: 0.781vw;
                height: 2.604vw;
                bottom: 10%;

                // left: calc(17.708vw - 10px);
                // width: 15px;
                // height: 50px;
                // bottom: 50px;
                @media(max-width:425px) {
                    width: 8px;
                    height: 25px;
                    left: calc(17.708vw - 6px);
                }
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            left: 0;
            top: 0;
            height: 90%;
            width: 0.260vw;
            // width: 5px;
            background-color: #19a9bc;

            @media(max-width:425px) {
                width: 3px
            }
        }

        &::after {
            width: 17.708vw;
            // height: 5px;
            height: 0.260vw;
            background-color: #19a9bc;
            bottom: 10%;
            left: 0;

            @media(max-width:425px) {
                height: 3px
            }
        }
    }

    .hightlight {
        color: $color_1BAABC;
        font-weight: bold;
    }
}