@font-face {
    font-family: 'CircularStd-Book';
    src: url('CircularStd-Book.eot');
    src: url('CircularStd-Book.eot') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype'),
}