{% set page_title = 'SkillSpar - Contact Us' %}
{% extends "../elements/_base.twig" %}
{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}
<div class="main_content contact-us">
    <div class="container">
        <div class="w-100">
            <div class="page--title_content no-line ">
                Contact us
            </div>
            <div class="contact-us--text_content text-center">
                Want your company to evolve? It only takes a call
            </div>
        </div>
        <div class="contact-us--list">
            <div class="contact-us--card wow fadeInLeft" data-wow-delay="0.1s">
                <div class="title">
                    Singapore
                </div>
                <div class="text_content">
                    33 Ubi Ave 3, #08-66, Vertex Singapore 408868
                </div>
                <div class="contact_by">
                    <div class="phone">
                        <span class="text-bold">Phone:</span>
                        <span class="number-light"> +65 6680 9321</span>
                    </div>
                    <div class="fax">
                        <span class="text-bold">Fax:</span>
                        <span class="number-light">+65 6680 9321</span>
                    </div>
                </div>
            </div>
            <div class="contact-us--card wow fadeInLeft" data-wow-delay="0.2s">
                <div class="title">
                    USA
                </div>
                <div class="text_content">
                    99 SE Mizner Blvd Unit 527 Boca Raton Florida 33432, USA
                </div>
                <div class="contact_by">
                    <div class="phone">
                        <span class="text-bold">Phone:</span>
                        <span class="number-light">+65 6680 9321</span>
                    </div>
                    <div class="fax">
                        <span class="text-bold">Fax:</span>
                        <span class="number-light">+65 6680 9321</span>
                    </div>
                </div>
            </div>
            <div class="contact-us--card wow fadeInLeft" data-wow-delay="0.3s">
                <div class="title">
                    Vietnam
                </div>
                <div class="text_content">
                    16-18 Xuan Dieu Street, Ward 4, Tan Binh District, Ho Chi Minh City, Vietnam
                </div>
                <div class="contact_by">
                    <div class="phone">
                        <span class="text-bold">Phone:</span>
                        <span class="number-light">+84 286 2727 704</span>
                    </div>
                </div>
            </div>
            <div class="contact-us--card wow fadeInLeft" data-wow-delay="0.4s">
                <div class="title">
                    Malaysia
                </div>
                <div class="text_content">
                    No 9, Jalan Laman Setia 7/3,
                         Setia Business Park 81550
                         Gelang Patah Johor, Malaysia
                </div>
                <div class="contact_by">
                    <div class="phone">
                        <span class="text-bold">Phone:</span>
                        <span class="number-light">+65 6680 9321</span>
                    </div>
                    <div class="fax">
                        <span class="text-bold">Fax:</span>
                        <span class="number-light">+65 6680 9321</span>
                    </div>
                </div>
            </div>
            <div class="contact-us--card wow fadeInLeft" data-wow-delay="0.5s">
                <div class="title">
                    Thailand
                </div>
                <div class="text_content">
                    1032/136-138 Phaholyothin Chomphon Chatuchak Bangkok 10900 Thailand
                </div>
                <div class="contact_by">
                    <div class="phone">
                        <span class="text-bold">Phone:</span>
                        <span class="number-light">+66 2165 0258</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-us--form">
            <div class="row wow fadeInUp">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <input placeholder="Your Name *" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <input placeholder="Email *" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input placeholder="Title *" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea
                            placeholder="Message *"
                            name=""
                            class="form-control"
                            rows="5"
                        ></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn-send">
                        <button class="btn btn-1BAABC">Send Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
