{% set page_title = 'SkillSpar - Home' %}
{% extends "../elements/_base.twig" %}

{% block content %}

<div class="main_content home-page">
    <div class="container">
        home-page
    </div>
</div>

{% endblock %}