{% set page_title = 'SkillSpar - Home' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header home'" %}
{% include "../elements/_header.twig" %}

<div class="main_content home-page">
    <div class="home-slider">
        <div class="home-slider__wrap">
            <figure class="img img-1">
                <img src="./assets/images/home-slider-1.png" alt="Security Awareness">
            </figure>
            <figure class="img img-2">
                <img src="./assets/images/home-slider-2.png" alt="Security Awareness">
            </figure>
            <figure class="img img-3">
                <img src="./assets/images/home-slider-3.png"
                    alt="Simulate skilled testers/attackers and automate APT attack simulation against IT and OT environment">
            </figure>
        </div>
        <div class="home-slider__footer">
            <span class="text">
                The product is implemented jointly with
                <img src="./assets/images/logo_eco.png" alt="">
            </span>
        </div>
    </div>
    <div class="icon-animated">
        <a href="#" class="icon" id="toNextBlock">
            <span class="icon__oval"></span>
            <span class="icon__arrow"></span>
        </a>
    </div>
    <div class="container">
        <div class="home home__1">
            <figure class="home__1--img wow fadeInLeft">
                <img src="./assets/images/home-block-2.png" alt="Security Awareness">
            </figure>
            <div class="home__1--content wow fadeInRight">
                <h2 class="home-heading">
                    Security
                    <br>
                    Awareness
                </h2>
                <ul class="home__list-des">
                    <li>Need for everyone.</li>
                    <li>Fulfill yearly audit requirement to ensure employee stay up-to-date on security awareness</li>
                </ul>
                <ul class="home__1--list-icon">
                    <li class="item">
                        <figure class="icon">
                            <img src="./assets/images/phishing.png" alt="phishing">
                        </figure>
                        <span class="text">Phishing</span>
                    </li>
                    <li class="item">
                        <figure class="icon">
                            <img src="./assets/images/training.png" alt="Training">
                        </figure>
                        <span class="text">Training</span>
                    </li>
                    <li class="item">
                        <figure class="icon">
                            <img src="./assets/images/testing.png" alt="Testing">
                        </figure>
                        <span class="text">Testing</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="home home__2">
            <div class="home__2--content ">
                <div class="home__2--top">
                    <div class="home__2--des wow fadeInLeft">
                        <h2 class="home-heading">
                            Cybersecurity
                            <br>
                            Assessment
                        </h2>
                        <ul class="home__list-des">
                            <li>Easy tool to test and hire offensive cyber security staff.</li>
                            <li>Can be used as an annual assessment tool to assess cyber security staff improvement</li>
                        </ul>
                    </div>
                    <figure class="img-1 wow fadeInRight">
                        <img src="./assets/images/home-block-2-img-1.png" alt="Cybersecurity Assessment">
                    </figure>
                </div>
                <div class="home__2--step wow fadeInLeft">
                    <img class="arrow arrow-1" src="./assets/images/home-2-Arrow-1.png" alt="Arrow-1">
                    <img class="arrow arrow-2" src="./assets/images/home-2-Arrow-2.png" alt="Arrow-2">
                    <div class="home__2--item item-1">
                        <figure class="icon">
                            <img src="./assets/images/calendar.png" alt="calendar">
                        </figure>
                        <div class="text">
                            <p class="title">Step 1</p>
                            <p class="des">Select Schedule</p>
                        </div>
                    </div>
                    <div class="home__2--item item-2">
                        <figure class="icon">
                            <img src="./assets/images/password.png" alt="password">
                        </figure>
                        <div class="text">
                            <p class="title">Step 2</p>
                            <p class="des">Register User</p>
                        </div>
                    </div>
                    <div class="home__2--item item-3">
                        <figure class="icon">
                            <img src="./assets/images/check-all.png" alt="check-all">
                        </figure>
                        <div class="text">
                            <p class="title">Step 3</p>
                            <p class="des">Choose Tests</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__3">
            <div class="home__3--content">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <h2 class="home-heading">X.ACT</h2>
                    <div class="home__3--des">
                        Automated attack simulation and remediation for all IT and OT (Critical Infrastructure)
                    </div>
                </div>

                <figure class="home__3--img wow fadeInUp" data-wow-delay="0.2s">
                    <img src="./assets/images/home-block-3.png" alt="">
                </figure>

                <div class="home__3--flow">
                    <div class="home__3--flow_item active wow fadeInLeft" data-wow-delay="0.1s">
                        <span class="text">REMEDIATE</span>
                    </div>
                    <div class="home__3--flow_item wow fadeInLeft" data-wow-delay="0.2s">
                        <span class="text">IMPROVE</span>
                    </div>
                    <div class="home__3--flow_item wow fadeInLeft" data-wow-delay="0.3s">
                        <span class="text">ATTACK</span>
                    </div>
                </div>
            </div>
        </div>
        {% include "../elements/_banner.twig" %}
    </div>
</div>
{% endblock %}