{% set page_title = 'SkillSpar - Menu' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="container">
    <div class="menu-page" style="padding-top:50px">
        <h3>Pages</h3>
        <ul class="menu">
            {% set menu = [
            {link: "login" },
            {link: "register" },
            {link: "home" },
            {link: "security-awareness" },
            {link: "security-assessment" },
            {link: "x-act" },
            {link: "contact-us" }, 
            ] %}
            {% for link in menu %}
            <li>
                <a target="_blank" href="{{ link.link }}.html">{{ link.link }}</a>
            </li>
            {% endfor %}
        </ul>

        <h3>Components</h3>
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Link</h3>
                        <a href="#" class="btn btn-1BAABC">Login/Register</a>
                        <a href="#" class="btn btn-1BAABC_Light">Watch video</a>
                    </div>
                    <div class="col-6">
                        <h3>Button</h3>
                        <button class="btn btn-1BAABC">Login/Register</button>
                        <button class="btn btn-1BAABC_Light">Watch video</button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="card-body">
                <h3>Form</h3>
                <div class="row">
                    <div class="col-6">
                        <label>input</label>
                        <div class="form-group">
                            <input placeholder="Your Name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>select</label>
                        <div class="form-group">
                            <select class="form-control form-select" name="">
                                <option value="" selected>Country </option>
                                <option value="1">Country 1</option>
                                <option value="2">Country 2</option>
                                <option value="3">Country 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>textarea</label>
                        <div class="form-group">
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-4">
            {% include "../elements/_block_awareness.twig" %}
        </div>

        <div class="mt-4">
            {% include "../elements/_block_assessment-1.twig" %}
        </div>

        <div class="mt-4">
            {% include "../elements/_block_assessment-2.twig" %}
        </div>

        <div class="mt-4">
            {% include "../elements/_block_assessment-3.twig" %}
        </div>

        <div class="mt-4">
            {% include "../elements/_block_xact-center.twig" %}
        </div>

        <div class="mt-4">
            {% include "../elements/_banner.twig" %}
        </div>

    </div>
</div>
<style>
    .menu {
        padding: 20px 30px;
        margin: 0;
        list-style: none;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .menu li {
        margin: 10px 0;
        padding-left: 25px;
        position: relative;
        width: 30%;
    }

    .menu li::before {
        background-color: rgb(226, 184, 76);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: 3px;
        top: 6px;
    }

    .menu li::after {
        border: #e3ba54 1px solid;
        background: #fff;
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        left: 0;
        top: 5px;
    }

    .menu a {
        color: #000;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        font-size: 16px;
    }

    .menu a:hover {
        color: #6d30ab;
    }
</style>
{% endblock %}