{% set page_title = 'SkillSpar - Login' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="login account">
    <div class="account--container">
        <div class="account--title">Login</div>
        <div class="account--wrap">
            <div class="form-group">
                <input placeholder="Email*" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Password*" type="text" class="form-control">
            </div>
            <div class="text-right">
                <a href="#" class="account--forget_password">
                    <img class="icon" src="../../assets/images/lock.png" alt="Forget Password">
                    <span class="text">Forget Password</span>
                </a>
            </div>
            <button class="btn btn-1BAABC">Login</button>
        </div>
    </div>
    <div class="account--create_link">
        Do not have an account? <a href="#" class="link">Create an Account</a>
    </div>
</div>

{% endblock %}