{% set page_title = 'SkillSpar - Security Assessment' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="main_content security-assessment">
    SecurityAssessment
</div>

{% endblock %}