{% set page_title = 'SkillSpar - Security Awareness' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="main_content security-awareness">
    SecurityAwareness
</div>

{% endblock %}