{% set page_title = 'SkillSpar - Security Assessment' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}
<div class="main_content security-assessment">
    <div class="container">
        <div class="page--title">
            <div class="page--img_title">
                <img class="img-fluid" src="./assets/images/security_2.png" alt="feature-2">
            </div>
        </div>
        <div class="page--button wow fadeIn">
            <a href="./register.html" class="btn btn-1BAABC">Try for free</a>
            <button id="playVideoTrigger" class="btn btn-1BAABC_Light">Watch video</button>
        </div>
        <div class="page--text_content text-center wow fadeIn">
            SkillSpar will help you find your IT and security candidates quickly through its easy to use
            platform in three simple steps.
        </div>
        <div class="page--map_image video wow fadeIn">
            <div class="video__pause">
                <img class="img-fluid" src="./assets/images/video.png" alt="video">
                <img class="play-icon" src="./assets/images/play-icon-white.png" alt="icon-play-video">
            </div>
            <div id="player" video="WkX5kF7lBGU" class="video__play"></div>
        </div>
        {% include "../elements/_block_assessment-1.twig" %}
        {% include "../elements/_block_assessment-2.twig" %}
        <div>
            <div class="page--title_content"></div>
            <div class="wow fadeInUp">
                <div class="page--title_content_img">
                    <img class="img-fluid" src="./assets/images/300.png" alt="video">
                </div>
                <div class="page--title_content no-line">
                    Security Challenges
                </div>
            </div>
            <div class="wow fadeInUp">
                {% include "../elements/_block_assessment-3.twig" %}
            </div>
        </div>
        <div class="mt-4">
            {% include "../elements/_banner.twig" %}
        </div>
    </div>
</div>
{% endblock %}