{% set page_title = 'SkillSpar - Security Awareness' %}
{% extends "../elements/_base.twig" %}

{% block content %}

<div class="main_content security-awareness">
    SecurityAwareness
</div>

{% endblock %}