{% set page_title = 'SkillSpar - Security Assessment' %}
{% extends "../elements/_base.twig" %}

{% block content %}

<div class="main_content security-assessment">
    SecurityAssessment
</div>

{% endblock %}