{% set page_title = 'SkillSpar - Security Awareness' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="main_content security_awareness">
    <div class="container">
        <div class="page--title">
            <div class="page--img_title">
                <img class="img-fluid" src="./assets/images/security_1.png" alt="feature-1">
            </div>
        </div>
        <div class="page--button wow fadeIn">
            <a href="./register.html" class="btn btn-1BAABC">Try for free</a>
            {# <button class="btn btn-1BAABC_Light">Watch video</button> #}
        </div>

        <div class="page--text_content wow fadeIn">
            <p> Most of the time security awareness training is conducted after an organization has experienced an
                attack. Moreover, online or computer-based awareness training cannot give a firm assurance that the
                users have read and understood the content. There is also no framework to measure the effectiveness of
                the training program and users are expected to always behave in a secure manner or in accordance with
                what was taught. </p>
            <p>SkillSpar addresses these problems through a single platform that offers simulated phishing attack,
                interactive security awareness training, and assessment.
            </p>
        </div>

        <!-- map image -->
        {% include "../elements/_block_awareness.twig" %}

        <div class="wow fadeInUp">
            <div class="page--title_content">
                Training module
            </div>
            <div class="page--text_content text-center">
                Modude security awareness training companies use when they look for simple and efficient solution to
                protect their business.
            </div>
        </div>

        <div class="page--feature">
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-1.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Information System Sercurity
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.2s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-2.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Social Engineering
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.3s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-3.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Virus | Worm |Malicious code
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.4s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-4.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Phising and Scam Awareness
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.5s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-5.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Password
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.6s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-6.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Safe Computing
                </div>
            </div>
            <div class="page--node_feature wow fadeInUp" data-wow-delay="0.7s">
                <div class="img_feature">
                    <img class="img" src="./assets/images/information_security_system-7.png" alt="feature-1">
                </div>
                <div class="name_feature">
                    Incident Response
                </div>
            </div>
        </div>

        <div class="mt-4">
            {% include "../elements/_banner.twig" %}
        </div>

    </div>
</div>


{% endblock %}