{% set page_title = 'SkillSpar - X.ACT' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}
<div class="main_content x-act">
    <div class="container">
        <div class="page--title">
            <div class="page--img_title">
                <img class="img-fluid" src="./assets/images/xact.png" alt="feature-2">
            </div>
        </div>
        <div class="x-act-top">
            <div class="x-act--title"> Award </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                    <div class="x-act--img_left">
                        <img class="img-fluid" src="./assets/images/cup.jpg" alt="feature-2">
                    </div>
                    <div class="x-act--content">
                        <div class="x-act--text_title ">
                            Winning solution
                        </div>
                        <div class="x-act--text_desc">
                            Automated Attack Remediation Engine for Critical Infrastructure
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                    <div class="x-act--img_company">
                        <div class="x-act--img_left mr-4">
                            <img class="img-fluid" src="./assets/images/company1.png" alt="feature-2">
                        </div>
                        <div class="x-act--img_left">
                            <img class="img-fluid" src="./assets/images/company2.png" alt="feature-2">
                        </div>
                    </div>
                    <div class="x-act--content right">
                        <div class="x-act--text_desc">
                            Proud to be the recipient of the Cyber Security Call for Innovation 2019 award by CSA (Cyber
                            Security Agency) Singapore and TNB Ventures.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page--title_content pt-0 "></div>

        {% include "../elements/_block_xact-center.twig" %}

        <div class="mt-4">
            {% include "../elements/_banner.twig" %}
        </div>
    </div>
</div>
{% endblock %}