{% set page_title = 'SkillSpar - X.ACT' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% set headerClassName = "'header'" %}
{% include "../elements/_header.twig" %}

<div class="x-act">
    XACT
</div>

{% endblock %}