<div class="banner">
    <figure class="banner__left">
        <img alt="Ready to get started?" src="../../assets/images/banner_left.png">
    </figure>
    <div class="banner__content">
        <h2 class="banner__heading">
            Ready to get started?
        </h2>
        <p class="banner__des">
            Let us know you’re working on and we”ll tell you how we can help
        </p>
        <a href="#" class="btn btn-light">Started</a>
    </div>
    <figure class="banner__right">
        <img alt="Ready to get started?" src="../../assets/images/banner_right.png">
    </figure>
</div>