<div class="block_awareness">
    <div class="block_awareness--content">
        <figure class="block_awareness--img__master wow flipInY">
            <img src="./assets/images/block-wareness-img-1.png" alt="master">
        </figure>
        <div class="block_awareness--items">
            <div class="block_awareness--item wow flipInY">
                <div class="block_awareness--item-wrap">
                    <figure class="block_awareness--img img__1">
                        <img src="./assets/images/block-wareness-img-2.png" alt="master">
                    </figure>
                    <div class="block_awareness--text">
                        <h2 class="block_awareness--title">Phishing</h2>
                        <div class="block_awareness--des">
                            Proactively simulates different phishing attack scenarios to give the organization the
                            overall
                            security
                            awareness level
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_awareness--item wow flipInY">
                <div class="block_awareness--item-wrap">
                    <figure class="block_awareness--img img__2">
                        <img src="./assets/images/block-wareness-img-3.png" alt="master">
                    </figure>
                    <div class="block_awareness--text">
                        <h2 class="block_awareness--title">Training</h2>
                        <div class="block_awareness--des">
                            Train the users to protect personal and corporate’s information and stay alert against the
                            latest
                            threats
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_awareness--item wow flipInY">
                <div class="block_awareness--item-wrap">
                    <figure class="block_awareness--img img__3">
                        <img src="./assets/images/block-wareness-img-4.png" alt="master">
                    </figure>
                    <div class="block_awareness--text">
                        <h2 class="block_awareness--title">Testing</h2>
                        <div class="block_awareness--des">
                            Test the users to ensure that they have truly understood the content.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block_awareness--foot">
            Repeat <span class="bold">Phishing - Training - Testing</span> for continuous security awareness improvement
        </div>
</div>