<div class="block_assessment-3">
    <div class="block_assessment-3__wrap">
        <div class="block_assessment-3__item">
            <figure class="img">
                <img src="./assets/images/_block_assessment-3-img-1.png" alt="Security Challenges">
            </figure>
            <div class="title">Web App</div>
        </div>
        <div class="block_assessment-3__item">
            <figure class="img">
                <img src="./assets/images/_block_assessment-3-img-2.png" alt="Security Challenges">
            </figure>
            <div class="title">Cryptography</div>
        </div>
        <div class="block_assessment-3__item">
            <figure class="img">
                <img src="./assets/images/_block_assessment-3-img-3.png" alt="Security Challenges">
            </figure>
            <div class="title">Network</div>
        </div>
        <div class="block_assessment-3__item">
            <figure class="img">
                <img src="./assets/images/_block_assessment-3-img-4.png" alt="Security Challenges">
            </figure>
            <div class="title">Exploitation</div>
        </div>
        <div class="block_assessment-3__item">
            <figure class="img">
                <img src="./assets/images/_block_assessment-3-img-5.png" alt="Security Challenges">
            </figure>
            <div class="title">System</div>
        </div>
    </div>
    <div class="block_assessment-3__des">
        The candidates are required to successfully solve challenges presented in real IT lab environment. drag-and-drop
        interactions, and simulations to ascertain their practical knowledge and expertise in IT security domains.
    </div>
</div>