<div class="block_assessment-2">
    <figure class="img_master wow flipInY">
        <img src="./assets/images/_block_assessment-2-img-1.png" alt="_block_assessment-1">
    </figure>
    <div class="block_assessment-2__wrap">
        <div class="block_assessment-2__item wow flipInY">
            <figure class="img">
                <img src="./assets/images/_block_assessment-2-img-2.png" alt="_block_assessment-1">
            </figure>
            <div class="text">cat/etc/passwd</div>
        </div>
        <div class="block_assessment-2__item wow flipInY">
            <figure class="img">
                <img src="./assets/images/_block_assessment-2-img-3.png" alt="_block_assessment-2">
            </figure>
            <div class="text">0X41414141</div>
        </div>
        <div class="block_assessment-2__item wow flipInY">
            <figure class="img">
                <img src="./assets/images/_block_assessment-2-img-4.png" alt="_block_assessment-3">
            </figure>
            <div class="text">
                <span>mov eax, 1</span>
                <span>mov ebx, 0</span>
                <span>int 0x80</span>
            </div>
        </div>
    </div>
</div>