<div class="block_assessment-1 wow flipInX">
    <div class="block_assessment-1__item">
        <div class="img">
            <img src="./assets/images/_block_assessment-1-img-icon-1.png" alt="feature-1">
        </div>
        <div class="name">
            Schedule
        </div>
        <div class="des">
            Select Schedule
        </div>
    </div>
    <div class="block_assessment-1__item">
        <div class="img">
            <img src="./assets/images/_block_assessment-1-img-icon-2.png" alt="feature-2">
        </div>
        <div class="name">
            Candidates Registration
        </div>
        <div class="des">
            Register User
        </div>
    </div>
    <div class="block_assessment-1__item">
        <div class="img">
            <img src="./assets/images/_block_assessment-1-img-icon-3.png" alt="feature-3">
        </div>
        <div class="name">
            Test Selection
        </div>
        <div class="des">
            Choose Tests
        </div>
    </div>
</div>
