<div class="x-act-center">
    <div class="x-act-center__top">
        <figure class="x-act-center__left wow fadeIn">
            <img src="./assets/images/xact-img-1.png" alt="_block_assessment-1">
        </figure>
        <div class="x-act-center__right wow fadeInRight">
            <p> XACT platform contains three core engines to provide the most realistic and practical Attack and
                Defend solution for the ICS sector. <span class="hightlight">The Simulation Engine</span>
                replicates the customer network and mimic the operation with real PLCs, logics, and field
                devices so that the simulated plant can be as realistic as possible.<span class="hightlight">The
                    Advanced Persistent Threat Engine</span> validates the current security design via live
                execution of malware and APT attack techniques (12 domains and more than 244 techniques) against
                the simulated plant. The intelligent Attack Path Prediction helps the customer analyze all
                possible attack paths that can reach to their critical systems </p>
            <p><span class="hightlight">The Countermeasure Engine </span>allows customer to push and deploy real
                configuration with just 1-click based on the findings discovered by the APT threat engine.</p>
        </div>
    </div>
    <div class="x-act-center__bottom">
        <figure class="x-act-center__bottom-img wow fadeIn">
            <img src="./assets/images/xact-img-2.png" alt="_block_assessment-1">
        </figure>
    </div>
</div>