<div class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-xl-3">
                <a href="/" class="header-logo">
                    <img alt="skill spar" src="../../assets/images/logo.png">
                </a>
            </div>
            <div class="col-12 col-md-4 col-xl-3">
                <div class="footer__heading">About us</div>
                <ul class="footer__menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">CyberSecurity Awareness</a>
                    </li>
                    <li>
                        <a href="#">Security Assessment</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-xl-2">
                <div class="footer__heading">Useful</div>
                <ul class="footer__menu">
                    <li>
                        <a href="#">X.ACT</a>
                    </li>
                    <li>
                        <a href="#">Contact Us </a>
                    </li>
                    <li>
                        <a href="#">Login/Register</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-xl-4">
                <div class="footer__heading">Subscribe to Our Newsletter</div>
                <p class="footer__newsletter-text">Subscribe Newslatter & get Company News.
                    You can't take time.</p>
                <div class="newsletter-form">
                    <div class="form-group">
                        <div class="icon">
                            <img src="../../assets/images/email.png" alt="Subscribe Newslatter & get Company News.
                    You can't take time.">
                        </div>
                        <input class="form-control" type="email" placeholder="Enter your email">
                    </div>

                    <button class="btn btn-1BAABC" type="button">Subscribe</button>
                </div>
            </div>
        </div>

    </div>