<div class="header">
    <a href="/" class="header-logo">
        <img alt="skill spar" src="../../assets/images/logo.png">
    </a>
    <div class="header-menu">
        <ul class="header-menu__nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Security Awareness</a>
            </li>
            <li>
                <a href="#">Security Assessment</a>
            </li>
            <li>
                <a href="#">X.ACT</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li>
                <a href="#" class="btn btn-1BAABC">Login/Register</a>
            </li>
        </ul>

        {# active #}
        <div class="header-menu__mb">
            <span class="text">
                menu
            </span>
            <div class="lines">
                <span class="line line_1"></span>
                <span class="line line_2"></span>
                <span class="line line_3"></span>
            </div>
        </div>
    </div>
</div>