<div class={{ attributes.addClass(headerClassName) }}>
    <div class="header-container">
        <a href="./home.html" class="header-logo">
            <img alt="skill spar" src="./assets/images/logo.png">
        </a>
        <div class="header-menu">
            <ul class="header-menu__nav">
                <li name-page="home">
                    <a href="./home.html">Home</a>
                </li>
                <li name-page="security-awareness">
                    <a href="./security-awareness.html">Security Awareness</a>
                </li>
                <li name-page="security-assessment">
                    <a href="./security-assessment.html">Security Assessment</a>
                </li>
                <li name-page="x-act">
                    <a href="./x-act.html">X.ACT</a>
                </li>
                <li name-page="contact-us">
                    <a href="./contact-us.html">Contact Us</a>
                </li>
                <li>
                    <a href="./login.html" class="btn btn-1BAABC">Login/Register</a>
                </li>
            </ul>

            {# active #}
            <div class="header-menu__mb">
                <span class="text">
                    menu
                </span>
                <div class="lines">
                    <span class="line line_1"></span>
                    <span class="line line_2"></span>
                    <span class="line line_3"></span>
                </div>
            </div>
        </div>
    </div>
</div>