body {
    font-family: $CircularStd-Book;
    font-size: 16px;
    padding: 0;
}

a {
    outline: none;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.container {
    @media (min-width: 1200px) {
        max-width: 1200px !important;
    }
}

xmp {
    line-height: normal;
    margin: 0;
    text-align: left;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

button {
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 190px;
    @include Circular-Medium;
    @include transition(all 0.3s ease);

    @media (max-width: 1024px) {
        padding: 8px 10px;
        min-width: auto;
        font-size: 14px;
    }

    &:hover {
        color: $color_fff;
        border-radius: 50px;
    }

    &-1BAABC {
        background-color: $color_1BAABC;
        color: $color_fff;

        &_Light {
            background-color: #1baabc26;
            color: $color_1BAABC;

            &:hover {
                color: $color_1BAABC;
                border-color: $color_1BAABC;
            }
        }
    }

    &-light {
        background-color: $color_1BAABC;
        border: 1px solid $color_fff;
        color: $color_fff;

        &:hover {
            background-color: transparent;
        }
    }
}

.header {
    @include box-shadow(0 5px 15px #0000000d);
    text-align: center;
    background-color: #fff;

    @include transition(all 0.3 ease);

    &.fixed {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;

        .btn {
            padding: 8px 10px;
            min-width: 155px;
        }

        .header-container {
            @media(min-width:1024px) {
                padding: 10px 0;
            }
        }

        .header-logo {
            max-width: 140px;
        }

    }

    &.home {
        // position: absolute;
        // top: 15px;
        // left: 0;
        box-shadow: none;
        z-index: 1;
        width: 100%;
        background-color: $color_1BAABC_light;

        .header-container {}
    }

    @media (max-width: 1024px) {
        top: 0;
    }

    &-container {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        width: 100%;
        max-width: 1540px;
        padding: 15px 0;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1024px) {
            padding: 15px;
        }
    }

    &-logo {
        max-width: 150px;
        display: inline-block;
        margin-left: 25px;
        @include transition(all 0.3 ease);

        @media (max-width: 1024px) {
            margin-left: 0;
        }

        @media (max-width: 767px) {
            max-width: 100px;
        }
    }

    &-menu {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        margin-left: auto;

        &__nav {
            @include flexbox;
            @include flex-wrap(wrap);
            @include Circular-Medium;
            padding: 0;
            margin: 0;
            @include transition(all 0.2s ease);

            @media (max-width: 1024px) {
                @include flexbox;
                @include flex-direction(column);
                @include align-items(flex-start);
                @include transition(all 0.2s ease);
                position: fixed;
                height: 100vh;
                background: #ddf2f5;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                z-index: -1;
                padding-top: 50px;
            }

            &.active {
                z-index: 9;
                opacity: 1;
                width: 250px;

                li {
                    display: block;
                }
            }

            li {
                @include flexbox;
                @include align-items(center);
                list-style: none;
                margin: 0 25px;

                @media (max-width: 1024px) {
                    margin: 8px 25px;
                    display: none;
                }

                a:hover {
                    color: $color_1BAABC;
                }

                &.active {
                    @media (max-width: 1024px) {
                        padding-bottom: 8px;
                    }

                    a {
                        color: $color_1BAABC;
                    }

                    position: relative;

                    &::before {
                        background-color: $color_1BAABC;
                        position: absolute;
                        content: "";
                        height: 4px;
                        width: 100%;
                        bottom: -15px;

                        @media (max-width: 1024px) {
                            height: 3px;
                            bottom: 0;
                        }
                    }
                }
            }

            .btn:hover {
                color: $color_fff;
            }

            a {
                color: $color_173A65;
                text-decoration: none;
            }
        }

        &__mb {
            display: none;
            z-index: 1;
            cursor: pointer;

            @media (max-width: 1024px) {
                @include flexbox;
                @include align-items(center);
            }

            &.active {
                @media (max-width: 1024px) {
                    z-index: 10;
                }
            }

            .lines {
                @include flexbox;
                @include flex-direction(column);

                @media (max-width: 1024px) {
                    margin-top: 0.2vw;
                    height: 16px;
                }

                .line {
                    background-color: $color_173A65;
                    transition: all 0.2s ease;
                    height: 2px;
                    width: 18px;
                    margin-bottom: 3px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &.active {
                .line_2 {
                    display: none;
                }

                .line_3 {
                    @include transform(rotate(-45deg) translateY(-0.156vw) translateX(0.052vw));
                    // @include transform(rotate(-45deg) translateY(-3px) translateX(1px));
                }

                .line_1 {
                    @include transform(rotate(45deg) translateY(0.104vw) translateX(0.052vw));

                    // @include transform(rotate(45deg) translateY(2px) translateX(1px));
                    @media (max-width: 1024px) {
                        @include transform(rotate(45deg) translateY(3px) translateX(3px));
                    }
                }
            }

            .text {
                padding-right: 8px;
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        .btn {
            color: $color_fff;

            @media (max-width: 1024px) {
                margin-right: 10px;
            }
        }
    }
}

.footer {
    margin-bottom: 40px;

    .col-12 {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__logo {
        max-width: 150px;
        display: inline-block;
    }

    &__heading {
        color: #173a65;
        font-size: 18px;
        margin-bottom: 25px;
        // font-weight: bold;
        @include Circular-Bold
    }

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: 15px;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }

            a {
                color: #0e1a28;
            }
        }
    }

    &__newsletter-text {
        color: #0e1a28;
        margin-bottom: 25px;
    }
}

.modal {
    padding: 0 !important;
}

.main_wapper {
    @media (max-width: 1024px) {
        overflow: hidden;
    }
}

.loading {
    background: #00000057;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease);
    @include flex_center;
    // @include transform(translate(-50%, -50%));

    &.active {
        z-index: 9999;
        visibility: visible;
        opacity: 1;
    }

    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #173c67;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }

    // img {
    //     position: absolute;
    //     width: 100%;
    //     width: 12vw;
    //     top: 50%;
    //     left: 50%;
    //     @include transform(translate(-50%, -50%));

    //     @media (max-width: 1024px) {
    //         width: 30vw;
    //     }
    // }
}

.newsletter-form {
    @include flexbox;
    @include align-items(center);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 32px 84px 0 rgba(14, 86, 124, 0.11);
    padding: 5px;
    padding-left: 25px;

    .icon {
        max-width: 20px;
    }

    .form-group {
        @include flexbox;
        @include align-items(center);
        margin: 0;
    }

    .form-control {
        border: none;
        border-radius: 0;
        background-color: transparent;

        @mixin placeholderInputStyles {
            color: #0d192640;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }

        &:hover,
        :focus {
            outline: none;
            box-shadow: none;
        }
    }

    .btn {
        width: 160px;
        min-width: auto;
    }
}

// form
.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: #f9f9fa;
    height: 55px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    color: #444648;

    @media (max-width: 1024px) {
        height: 45px;
    }

    @mixin placeholderInputStyles {
        color: #44464880;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include placeholderInputStyles;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholderInputStyles;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        @include placeholderInputStyles;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        @include placeholderInputStyles;
    }
}

select.form-control {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    background-image: url("../assets/images/Chevron-Right.png");
    background-size: 12px;
    background-position: right 25px center;
    background-repeat: no-repeat;
    color: #444648;

    &.no-select {
        color: #44464880;
    }

    option {
        color: #444648 !important;
    }
}

.home-page {
    overflow: hidden;
}

.icon-animated {
    text-align: center;
    margin-top: 30px;
    margin-top: 1.563vw;

    @media (max-width: 767px) {
        margin-top: 20px;
    }

    .icon {
        width: 30px;
        width: 1.563vw;
        display: inline-block;
        animation: glowing 1s infinite;

        @media (max-width: 767px) {
            width: 20px;
        }

        &__oval {
            height: 2.604vw;
            border-radius: 1.563vw;
            border: 0.156vw solid $color_173A65;
            // height: 50px;
            // border-radius: 30px;
            // border: 3px solid $color_173A65;
            width: 100%;
            display: block;
            position: relative;

            @media (max-width: 767px) {
                height: 35px;
                border-radius: 30px;
                border-width: 2px;
            }

            &::before {
                position: absolute;
                content: "";
                transform: translateX(-50%);
                background: $color_173A65;
                left: 50%;

                // height: 8px;
                // width: 3px;
                // top: 5px;
                height: 0.417vw;
                width: 0.156vw;
                top: 0.26vw;

                @media (max-width: 767px) {
                    height: 8px;
                    width: 2px;
                    top: 5px;
                }
            }
        }

        &__arrow {
            position: relative;
            display: block;
            // height: 16px;
            height: 0.833vw;

            &::before,
            &::after {
                position: absolute;
                content: "";
                background: $color_173A65;
                bottom: 0;
                width: 0.156vw;
                height: 0.885vw;
                // width: 3px;
                // height: 17px;

                @media (max-width: 767px) {
                    width: 2px;
                    height: 10px;
                }
            }

            &::before {
                // transform: rotate(45deg) translateX(5px);
                transform: rotate(45deg) translateX(0.26vw);

                @media (max-width: 767px) {
                    transform: rotate(45deg) translate(6px, 3px);
                }
            }

            &::after {
                // transform: rotate(-45deg) translate(-7px, -2px);
                transform: rotate(-45deg) translate(-0.365vw, -0.104vw);

                @media (max-width: 767px) {
                    transform: rotate(-45deg) translate(-7px, 1px);
                }
            }
        }
    }
}

// .video {
//     &__pause {
//         &.inactive {
//            z-index: 1;
//         }
//     }
//     &__play {
//         position: absolute;
//         width: 0;
//         height: 0;
//         z-index: -1;
//         &.active {
//             z-index: 2;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//         }
//     }
// }


.video {
    position: relative;

    &__pause.inactive {
        z-index: 1;
    }

    &__play {
        position: absolute;
        width: 0;
        height: 0;
        z-index: -1;

        &.active {
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}